<div class="container">

    <div class="row">
        <h1 class="text-center">Cocktail Database</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active text-center" href="#">Drink Search</a>
                </li>
        </div>
        <div class="col-md-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Saved Drinks</a>
                </li>
        </div>
        <div class="col-md-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Team Page</a>
                </li>
        </div>
        </ul>
    </div>

    

</div>