<!DOCTYPE html>
<html lang="en-us" class="has-navbar-fixed-top">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Commissioner:wght@300&family=Oswald:wght@700&family=Raleway:wght@300&display=swap"
    rel="stylesheet">
  <style>
    html,
    body,
    header,
    .view {
      height: 100%;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-family: 'Commissioner', sans-serif;
      font-family: 'Oswald', sans-serif;
      font-family: 'Raleway', sans-serif;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 100vh;
      }
    }

    .top-nav-collapse {
      background-color: #78909c !important;
    }

    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }

    @media (max-width: 991px) {
      .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
      }
    }

    h1 {
      letter-spacing: 8px;
      color: white;
    }

    h5 {
      letter-spacing: 3px;
      color: white;
    }

    .hr-light {
      border-top: 3px solid #fff;
      width: 80px;
    }

    .bg {
      /* The image used */
      background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/views/drinks.handlebars"><strong>Cocktail Application</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/views/drinks.handlebars">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/searchdrinks.handlebars">Drink Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/createdrinks.handlebars">Create Drink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/saveddrinks.handlebars">Your Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/login.handlebars">Log In or Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('/project2/views/elliott-blair-V12QmVEMXlU-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <header>
            <div class="col-md-12 mb-4 white-text text-center">
              <br>
              <br>
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                data-wow-delay="0.3s"><strong>A Cocktail Exploration</strong></h1>
              <br>
              <br>
              <br>
              <br>
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                  dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                  incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                  illum qui dolorem eum fugiat quo voluptas nulla pariatur?
              </h5>

            </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  <main>

    <div class="container">
      <div class="row py-5">
        <div class="col-md-12 text-center">
          <h2><strong>About the Collaborators</strong></h2>
          <h3>Evan Mote</h3>
          <img src="http://placekitten.com/g/200/300" alt="Image of Evan Mote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
          <h3>Caroline Manson</h3>
          <img src="http://placekitten.com/g/200/300" alt="Image of Caroline Manson">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
          <h3>Crystal Crandall</h3>
          <img src="http://placekitten.com/g/200/300" alt="Image of Crystal Crandall">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur?</p>
        </div>
      </div>

  </main>
  <!--Main Layout-->

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>

</html>