<link rel="stylesheet" href="/css/drinks.css">

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>Cocktail Me!</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="searchdrinks">Drink Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="createdrinks">Create Drink</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="saveddrinks">Your Drinks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Log In or Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view bg">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
                <div class="row">
                    <header>
                        <div class="col-md-12 mb-4 white-text text-center">
                            <br>
                            <br>
                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                                data-wow-delay="0.3s"><strong>Cocktail Me!</strong></h1>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">Welcome to
                                Cocktail Me! Search our database of lovely libations, find a random drink, or create
                                your own. All the drinks you save or create can be found in the "Your Drinks" page.</p>
                                <p>The collaborators at Cocktail Me! created this app so that users have a one stop shop
                                    for all things cocktail. This project also demonstrates our prowess in developing a
                                    full stack application.</p>
                                <p>Salud!</p>
                            </h5>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </header>
    <main>
        <div class="container">
            <div class="row py-5">
                <div class="col-md-12 text-center">
                    <h2><strong>About the Collaborators</strong></h2>
                    <h3>Evan Motte</h3>
                    <img src="/img/evanmotte.jpg" alt="Image of Evan Motte">
                    <p>Hey there! My name is Evan. I started coding after being a recruiter for an IT company and developing an interest in the field. When I'm not coding or doing homework I enjoy spending time with friends and relaxing.</p>
                    <h3>Caroline Manson</h3>
                    <img src="/img/carolinesbioimg.JPG" alt="Image of Caroline Manson">
                    <p>Hello! I am a recent graduate of the University of Colorado at Boulder. I have a major in
                        International Affairs and a minor in Gender Studies. I started coding because I have family
                        members and friends who have careers in database management and internet security who inspired
                        me to get into the field. I currently work at the Humane Society of Charlotte doing animal care
                        and adoption counseling. I live with my boyfriend, two dogs, and a very grumpy cat.</p>
                    <h3>Crystal Crandall</h3>
                    <img src="/img/crystalcrandall.jpg" alt="Image of Crystal Crandall">
                    <p>Aloha! I have a bachelor's in Web Design, and while the front end of the styling was neat and all I decided I wanted to learn how the whole system works. I spend most of my time doing school work or mixing up drinks for guests that come in. If I'm not at work or in front of the screen you can usually find me and my grandpa of a dog out and about.</p>
                </div>
            </div>
        </div>

    </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>

</html>
