<link rel="stylesheet" href="/css/saveddrinks.css">

<body>
    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <a class="navbar-brand" href="/"><strong>Cocktail Me!</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="searchdrinks">Drink Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="createdrinks">Create Drink</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="saveddrinks">Your Drinks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">Log In or Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Full Page Intro -->
      <div class="view bg">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
          <!-- Content -->
          <div class="container">
          <ul class="list-group">
            <h3 class="list-group-item-heading" style="color:white">Your Drinks</h3>
              <li id="saveddrinksList" class="list-group-item"></li>
          </ul>
          <div id="saveddrinksList" class="container"></div>
          </div>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/saveddrinks.js"></script>

</html>