<link rel="stylesheet" href="/css/searchdrinks.css">

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><strong>Cocktail Application</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="searchdrinks">Drink Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="createdrinks">Create Drink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="saveddrinks">Your Drinks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Log In or Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Full Page Intro -->
  <div class="view bg" <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
      <!-- Content -->
      <div class="card">
        <div class="card-header text-center" style="border:none">
          Search by drink name
        </div>
        <div class="card-body w-75">
          <form>
            <div class="form-group">
              <label for="searchDrinkBtn">
                <button class="btn" id="searchDrinkBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
              </label>
              <span>
                <input name="drinkNameSearch" type="search" style="border:none" class="form-control"
                  id="drinkNameSearch" placeholder="Enter drink name here">
              </span>
            </div>
          </form>
        </div>
        <div class="card-header text-center" style="border:none">
          Search by ingredient
        </div>
        <div class="card-body w-75">
          <form>
            <div class="form-group">
              <label for="searchDrinkBtn">
                <button class="btn" id="searchIngredientBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
              </label>
              <span>
                <input type="search" style="border:none" class="form-control" id="drinkIngSearch"
                  placeholder="Enter ingredient here">
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="newDrinkSearch" class="container ingredientDrinkSearchList"></div>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/drinks.js"></script>

</html>